.testimonials__container {
	width: 40%;
	padding-bottom: 4rem !important;
}
.client__avatar {
	width: 6rem;
	aspect-ratio: 1/1;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto 1rem;
	border: 0.4rem solid var(--color-light);
}
.testimonials {
	background: var(--color-bg-variant);
	text-align: center;
	padding: 2rem;
	border-radius: 2rem;
	user-select: none;
	/* box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1); */
}
.client__review {
	color: var(--color-light);
	font-weight: 300;
	display: block;
	width: 80%;
	margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
	background: var(--color-primary);
}
/* ================================MEDIA QUERY (MEDIUM DEVICE)================================== */
@media screen and (max-width: 1024px) {
	.testimonials__container {
		width: 60%;
	}
}

/* ================================MEDIA QUERY (SMALL DEVICE)================================== */
@media screen and (max-width: 600px) {
	.testimonials__container,
	.client__review {
		width: var(--container-width-sm);
	}
}
