* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	/* font-family: 'Work Sans', sans-serif; */
	font-family: 'Signika Negative', sans-serif;
}
:root {
	/* --color-bg: #1f1f38;
	--color-bg-variant: #2c2c6c;
	--color-primary: #4db5ff;
	--color-primary-variant: rgba(77, 181, 255, 0.4);
	--color-white: #fff;
	--color-light: rgba(255, 255, 255, 0.6); */

	--color-bg: #222831;
	--color-bg-variant: #d65a31;

	--color-primary: #eeeeee;
	--color-primary-variant: #393e46;
	--color-white: #fff;
	--color-light: #eeeeee;

	--transition: all 400ms ease;

	--container-width-lg: 75%;
	--container-width-md: 86%;
	--container-width-sm: 90%;
}

html {
	scroll-behavior: smooth;
}

/* ::-webkit-scrollbar {
	display: none;
} */

body {
	/* font-family: 'Poppins', sans-serif; */
	background-color: var(--color-bg);
	color: var(--color-white);
	line-height: 1.6;
}
/* width */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--color-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--color-bg-variant);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--color-primary);
}
/* =======================GENREAL========================= */
.container {
	width: var(--container-width-lg);
	margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}
h1 {
	font-size: 3rem;
}
section {
	margin-top: 8rem;
	/* height: 100vh; */
}

section > h2,
section > h5 {
	text-align: center;
	color: var(--color-light);
	font-size: 1rem;
}
section > h5 {
	letter-spacing: 3px;
}
section > h2 {
	margin-bottom: 3rem;
	font-size: 2rem;

	color: var(--color-white);
}

.text-light {
	color: var(--color-light);
}

a {
	color: var(--color-primary);
	transition: var(--transition);
}

a:hover {
	color: var(--color-white);
}

.btn {
	width: max-content;
	display: inline-block;
	color: var(--color-primary);
	padding: 0.75rem 1.2rem;
	border-radius: 0.4rem;
	cursor: pointer;
	border: 1px solid var(--color-primary);
	transition: var(--transition);
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}
.btn:hover {
	background-color: var(--color-white);
	color: var(--color-bg);
	border-color: transparent;
}
/* .btn-primary {
	background-color: var(--color-primary);
	color: var(--color-bg);
} */
.btn-primary {
	background-color: var(--color-bg-variant);
	color: var(--color-light);
	border: none;
}
img {
	display: block;
	width: 100%;
	object-fit: cover;
}

/* ================================MEDIA QUERY (MEDIUM DEVICE)================================== */
@media screen and (max-width: 1024px) {
	.container {
		width: var(--container-width-md);
	}
	section {
		margin-top: 6rem;
	}
}

/* ================================MEDIA QUERY (SMALL DEVICE)================================== */
@media screen and (max-width: 600px) {
	.container {
		width: var(--container-width-sm);
	}
	section {
		margin-top: 2rem;
	}
}
